.history-title {
  margin: 40px;
  text-align: center;
}

.history {
  position: relative;
  margin: 40px auto;
  padding: 40px;
  border-radius: 40px;
  width: min-content;
  background-color: #fff;
  min-height: 300px;

  td,
  th {
    padding: 10px 15px;
  }

  .balance {
    font-size: 26px;
    font-weight: 700;
    position: fixed;
    right: 400px;
    top: 160px;
  }
}
