.wrapper {
  display: flex;
}

.history-title {
  position: relative;
  margin: 40px;
  text-align: center;
}

.history {
  position: relative;
  margin: 40px auto;
  padding: 40px;
  border-radius: 40px;
  width: max-content;
  background-color: #fff;
  min-height: 300px;

  table {
    margin: 0 auto;
  }

  td,
  th {
    padding: 10px 15px;

    img {
      cursor: pointer;
    }
  }

  th:nth-child(4) {
    min-width: 90px;
  }

  .balance {
    font-size: 26px;
    font-weight: 700;
    position: fixed;
    right: 400px;
    top: 160px;
  }
}
