.header {
  height: 80px;
  background-color: rgb(22, 34, 44);
  display: flex;
  align-items: center;

  a {
    color: #fff;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 220px;
}
